.overall {
	height: 80vh;
	border: black 2px solid;
}

.formContainer {
	text-align: left;
	background: linear-gradient(to right, white, gray);
	height: 70vh;
}

.payslipInformation {
	text-align: left;
	display: inline;
}

.payslipTidbit {
	font-size: 20px;
	margin-left: 10px;
	display: inline-block;
	float: left;
	clear: left;
	width: 45vw;
	height: 8vh;
}

.inputBox {
	display: inline-block;
	float: left;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 20px;
	height: 30px;
	width: 45vw;
	font-size: 16px;
	text-align: right;
}

.submitButton {
	float: left;
	clear: left;
	height: 40px;
	width: 100px;
	margin-top: 20px;
	margin-left: 50vw;
	margin-bottom: 50px;
	background-color: #3863ff;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
}

#firstPositionTidbit {
	margin-top: 10px;
}

#firstPositionInput {
	margin-top: 10px;
}

@media (min-width: 800px) {
	.inputBox {
		width: 400px;
	}
}

@media (max-height: 580px) {
	.inputBox {
		height: 20px;
	}
}