.overall {
	height: 80vh;
	border: black 2px solid;
}

.read-container {
	clear: left;
	float: left;
	width: 100% !important;
	background: linear-gradient(to right, white, gray);
	height: 70vh;
}

#confirmationButton {
	margin-right: 30px;
}

.paystub-topbar {
	height: 12vh;
}

.employee-name {
	width: 40vw;
	text-align: left;
	padding-left: 20px;
	font-size: 26px;
	display: inline-block;
	float: left;
	height: 12vh;
}

.employee-payperiod {
	width: 40vw;
	text-align: right;
	padding-right: 20px;
	font-size: 18px;
	float: right;
	display: inline-block;
	height: 12vh;
}

.finances-grid {
	height: 26vh;
	padding-top: 10px;
	padding-left: 8vw;
}

.grid-headings {
	height: 8vh;
}

.heading-one {
	width: 20vw;
	border: 1px solid black;
	float: left;
	display: inline-block;
	height: 4vh;
	margin: 0 auto;
	padding: 4vh 0;
	font-weight: bold;
	color: white;
	background-color: #444444;
}

.grid-data {
	height: 12vh;
	padding: 1% 0;
}

.grid-one {
	width: 20vw;
	border: 1px solid black;
	float: left;
	display: inline-block;
	height: 6vh;
	margin: 0 auto;
	vertical-align: middle;
	padding: 6vh 0;
}

#full-paystub {
	font-family: 'Roboto Condensed', sans-serif;
	background: #eeeeee;
}